# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
env/
venv/
.venv/

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# Environment variables & config
.env
*.env
secrets.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Azure/Cloud-specific
local.settings.json
*.azure*

# Pytest
.cache/
.pytest_cache/

# Other
*.db
